p {
  margin: 0px;
  padding: 0px;
}

/* home.component.css */
.containers {
  max-width: 100vw;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  /* height: 100vh; */
  overflow: hidden;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.containers.hidden {
  display: none !important;
}


.slider-container {
  position: relative;
  margin: 40px auto;
  border-radius: 12px;
  overflow: hidden;
  max-width: 100vw;
  height: 100px;
}

.mdw-curved-slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.mdw-curved-slider canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.titles p {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 250px;
  font-size: 36px;
  font-weight: 600;

}

.logo {
  position: absolute;
  left: 45%;
  right: 0;
  top: 200px;
}

.slider-control {
  width: 100%;
  margin: 8px 0;
}


.image-counter {
  text-align: center;
  margin-top: 15px;
  font-size: 1.1rem;
  color: white;
}


@media (max-width: 368px) {

  .slider-container {
    height: 300px;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }

  .control-group {
    width: 100%;
    max-width: 300px;
  }
}

.about-title {
  font-size: 8rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-stroke: 1px rgb(255, 255, 255);
  margin: 0;
  transition: all 0.5s ease;
}



/* html {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#starContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#star {
  display: flex;
  background: transparent;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 48.45%;
  justify-content: center;
  animation: starRotation 6.5s linear infinite;
  z-index: 999;
}

.half {
  display: flex;
}

.starQuarter {
  width: 20px;
  height: 20px;
  animation: animStarSize 6.5s ease-in-out infinite;
}

#topLeft {
  background: radial-gradient(ellipse at top left, transparent 70%, rgb(180, 254, 255) 100%);
}

#topRight {
  background: radial-gradient(ellipse at top right, transparent 70%, rgb(157, 226, 255) 100%);
}

#bottomLeft {
  background: radial-gradient(ellipse at bottom left, transparent 70%, rgb(173, 254, 253) 100%);
}

#bottomRight {
  background: radial-gradient(ellipse at bottom right, transparent 70%, rgb(174, 241, 254) 100%);
}




@media screen and (min-width:380px) and (max-width:768px) {

  .what_i h2 {
    font-size: 60px !important;
  }


  .postion h6 {
    padding-top: 0px !important;
  }

  .mail {
    display: none;
  }

  .nav_item {
    flex-direction: column;
    align-items: end;
  }

  .nav_item p {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .hero_nav {
    display: flex;
    align-items: start;
    justify-content: start
  }

  .postion #hero_heading {
    font-size: 30px;
    position: absolute;
    top: -70px;
    left: 0;
  }

  .postion {
    position: relative;
  }

  .hero_name {
    margin-top: 20px;
  }

  .hero_smtit {
    margin-top: 20px;
  }

  .hero_smtit h5 {
    font-size: 28px;
  }

  .about_section h2 {
    font-size: 60px !important;
    margin-top: 70px;
  }

  .starimage {
    top: 0px !important;
  }

  .sword-area img {
    width: 30%;
  }

  .about_me {
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
    text-align: justify !important;
  }

  .what_i .postion h6 {
    font-size: 75px;
  }


  .career h2 {
    font-size: 60px;
  }

  .career {
    margin-top: 100px;
    overflow: visible;
  }

  .career .starimage {
    display: none;
  }


  .bach_name h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #f8f5f5;
    font-family: "Roboto", sans-serif;
  }

  .bach_name p {
    color: #0ABB9C;
    font-size: 16px;
  }

  .my_careeor::before {
    content: "";
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    width: 2px;
    height: var(--line-height);
    background: linear-gradient(to bottom, #4772ff, #00ddff);
    border-radius: 4px;
    box-shadow: 0 0 10px #4772ff, 0 0 25px #00ffff;

  }


  .my_careeor::after {
    content: "";
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #e2e2e20c, #e1e1e10c);
    border-radius: 4px;
  }

  .year {
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    padding-left: 50px !important;
    padding-top: 10px;
  }

  .myes {
    flex-direction: column;
    padding-left: 40px;
  }

  .ex_detailss {
    text-align: justify;
    margin-top: 20px;
  }

  #star {
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0%;
    justify-content: center;
    animation: starRotation 6.5s linear infinite;
    z-index: 999;
  }

  .bach_name p {
    white-space: nowrap;
  }

  #Portfolio .about-title {
    font-size: 60px;
  }

  .occasion {
    border: 1px solid #8294942d;
    height: auto !important;
    width: 100vw !important;
    padding: 20px !important;
  }

    .occasion img{
      width: auto !important;
    }
  #horizontal-scoll{
    overflow-x: hidden;
  }

  .info_get {
    padding: 20px !important;
  }

  .right_con_tit h6 {
    margin-top: 40px !important;
  }

}



.tools {
  width: 60px;
}


.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100dvh;
  /* ✅ modern fix: dynamic viewport height */
  min-height: 100vh;
  overflow: hidden;
  margin-bottom: 90px;
}

.custom-card {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 70vh;
  /* background: -webkit-linear-gradient(
    130deg,
    #d754ad 0%,
    #f96785 67%,
    #fe7333 100%
  );
  background: linear-gradient(-40deg, #d754ad 0%, #f96785 67%, #fe7333 100%); */
  color: #fff;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); */
}

.card1 {}

.card2 {
  top: 30px;
}

.card3 {
  top: 60px;
}

.card4 {
  top: 90px;
}

.opacity {
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  opacity: 0.6;
}

.scale {
  moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  width: 95%;
}

.horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}


.horizontal-scoll-wrapper {
  /* border: 1px solid #8294942d; */
  height: 550px;
  overflow: hidden;
}

/* .horizontal .coles {
  flex: 1 0 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
} */

.occasion img {
  width: 600px;
}

.occasion {
  border: 1px solid #8294942d;
  height: 550px;
  width: 500px;
  padding: 40px;
}

.webnum {
  font-size: 60px;
  font-weight: 800;
  font-family: "Lora", serif !important;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.we {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex-direction: column;
}

.webname {
  color: #FFF5F8;
}

.wende {
  color: #fff5f860;
}

.detaof {
  font-size: 18px;
  margin-top: 20px;
}

.tools_listes p {
  margin-top: 2px;
  color: #fff5f860 !important;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.sample_img {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}

.sample_img img {
  width: 100%;
  height: 100%;
}

.arr {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.sample_img:hover .arr {
  visibility: visible;
  opacity: 1;

  cursor: pointer;
}

/* .arr img{
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
} */




.info_get {
  padding: 40px;
  background-color: #18383233;
  border-radius: 10px;
}

.info_tit h6 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}

.info_sub p {
  font-size: 14px;
  color: #d3d3d3;
  line-height: 30px;
}

.info_get input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #213531;
  margin: 20px 0px;
  outline: none;
  background-color: transparent;
  color: white;
}



::placeholder {
  color: #A5A5A5;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #213531;
  margin: 20px 0px;
  height: 100px;
  background-color: transparent;
  color: white;
  outline: none;
}

.right_con_tit h6 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.right_con_sub p {
  font-size: 14px;
  color: #f5f5f5;
  line-height: 30px;
}

.con {
  box-shadow: rgba(100, 100, 111, 0.075) 0px 7px 29px 0px;
  padding: 12px 15px;
  border-radius: 12px;
  margin: 20px 0px;
  background-color: #011B16;
}

.get {
  margin: 100px 0px;
}

.fe h6 {
  color: white;
  margin-top: 5px;
}

.fe {
  padding-left: 20px;
}

.web_button p {
  border: 1px solid #213531;
  border-radius: 20px;
  cursor: pointer;
}

.web_button :hover {
  background-color: #295a50;
  border: 1px solid #295a50;
}

.web_button:hover p {
  color: white;
}

.icones img {
  padding-left: 20px;
  cursor: pointer;
}

.top_left {
  position: fixed;
  left: -350px;
  top: -350px;
  z-index: -1;
}

.top_right {
  position: fixed;
  right: -450px;
  top: 150px;
  z-index: -1;
}

.resent {
  margin: 50px 0px;
}

.know {
  margin: 50px 0px;
}

.social_icons {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  left: 20px;
  bottom: 5%;
  z-index: 99;
}

.resume {
  position: fixed;
  right: 50px;
  bottom: 5%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resume img {
  padding-left: 10px;
}

.career {
  margin: 50px 0px;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
  /* aspect-ratio: 16/9; */
  /* width: 100%; */
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-free-mode>.swiper-wrapper {
  transition-timing-function: linear;
  margin: 0 auto;
}

.out_card {
  width: 100%;
  /* border: 1px solid #131313; */
  display: flex;
  align-items: center;
}

.card_imge {
  border: 1px solid #3e4b4b52;
  padding: 42px;
  cursor: pointer;
}

.card_imge img {
  opacity: 0.8;
  scale: 1.3;
}

.card_imge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.card_imge:hover img {
  opacity: 1;
}

.card_imge:hover {


  background: #189C6B;
  background: radial-gradient(circle, rgba(24, 156, 108, 0.308) 0%, rgba(5, 62, 43, 0) 100%);
}

.secound_cardwhat {
  border: 1px solid #3e4b4b52;
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sec_imag img {
  width: 140px;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}

.sec_imag img {
  margin-top: 10px;
}

.sec_imag {
  position: relative;
}

.chat1 {
  position: absolute;
  left: -30px;
  bottom: -70px;
  opacity: 0.5;
  scale: 0.7;
}

.chat2 {
  position: absolute;
  right: -30px;
  bottom: -70px;
  opacity: 0.5;
  scale: 0.7;
}

.secound_cardwhat h6 {
  font-size: 24px;
  font-weight: 600;
  color: white !important;
}

.secound_cardwhat p {
  font-size: 12px;
  text-align: justify;
  color: rgba(185, 185, 185, 0.603) !important;
}

.first_grid {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-auto-rows: auto;
  gap: 15px;
  width: 100%;
}

.what_grid {
  grid-column: 1 / span 4;
  grid-row: 1;
  width: 100%;
}

.what_grid1 {
  grid-column: 5 / span 2;
  grid-row: 1;
}

.what_grid3 {
  grid-column: 7 / span 3;
  grid-row: 1 / span 2;
}

.what_grid4 {
  grid-column: 3 / span 4;
  grid-row: 2;
}

.what_grid5 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.spline-container {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


spline-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  bottom: 150px;
  left: -100px;
  scale: 0.5;
}

.borders_grid {
  border-bottom: 1px solid #A5A5A5;
  margin-top: 20px;
}

.grid_cols {
  width: 280px;
  border: 1px solid #a5a5a527;
  border-left: transparent;
  height: 100%;
  border-top-right-radius: 10px;
  margin-top: 10px;
}


#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 0;
  position: relative;
  border-top-right-radius: 10px;
}

#gradient:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 25vh 12.5vh rgba(0, 0, 0, 0.945);
  border-top-right-radius: 10px;
}

.back_grid {
  width: 160px;
  height: 100vh;
  background: #191919;
  background: linear-gradient(72deg, rgb(25, 25, 25) 0%, rgba(22, 27, 21, 0.459) 100%);
  border-top-right-radius: 10px;
  padding: 10px 10px;
}

.gradient {
  position: relative;
}


.grides {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99;
}

.grid_tites p {
  color: rgba(236, 236, 236, 0.815) !important;
  font-size: 20px;
  font-weight: 800;
  font-family: "Lora", serif !important;
  letter-spacing: 0.5px;
}

.bx p {
  padding: 5px 0px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bx p:hover {
  padding-left: 10px;
}

.grid_cols p {

  color: white !important;
}


.back_grid hr {
  margin-top: 10px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.274);
}


.ani_boxs {
  border: 1px solid #3e4b4b52;
  padding: 40px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px 10px;
  max-width: 200px;
  width: 200px;
}

.ani_boxs p {
  margin-top: 20px;
  font-size: 16px;
}

.ani_boxs img {
  width: 50px;
}

.animactions {
  display: flex;
  align-items: center;
  justify-content: start;
}



@media screen and (min-width:380px) and (max-width:768px) {

  .horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  flex-direction: column;
}


.horizontal-scoll-wrapper {
  height: auto !important;
  overflow: visible;
}

  .first_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    width: 100%;
  }

  .what_grid {
    grid-column: 1 /span 6;
    grid-row: 1;
    width: 100%;
  }

  .what_grid1 {
    grid-column: 1 / span 6;
    grid-row: 2;
  }

  .what_grid4 {
    grid-column: 1 / span 6;
    grid-row: 5;
  }


  .what_grid5 {
    grid-column: 1 / span 6;
    grid-row: 4;
  }

  .what_grid3 {
    grid-column: 1 / span 6;
    grid-row: 6;
  }


  .ani_boxs {
    border: 1px solid #3e4b4b52;
    padding: 5px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 2px;
    max-width: 200px;
    width: 200px;
  }


  .grid_cols {
    width: 320px;
    border: 1px solid #a5a5a527;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(165, 165, 165, 0.153);
    border-left: transparent;
    height: 400px;
    border-top-right-radius: 10px;
    margin-top: 10px;
  }




  .out_card {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .card_imge {
    border: 1px solid #3e4b4b52;
    padding: 10px;
    cursor: pointer;
    width: 80px;
  }

  .card_imge img {
    opacity: 1;
    scale: 1;
  }

.sample_img {
  width: 100%;
  height: auto !important;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}

  .grid_tites p {
    color: rgba(255, 255, 255, 0.932) !important;
    font-size: 20px;
    font-weight: 800;
    font-family: "Lora", serif !important;
    letter-spacing: 0.5px;
  }

  .bx p {
    color: rgba(255, 255, 255, 0.932) !important;
    padding: 5px 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  .secound_cardwhat p {
    color: rgba(241, 241, 241, 0.979) !important;
  }

  .about-title {
    font-size: 8rem;
    font-weight: 900;
    color: rgb(255, 255, 255) !important;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0) !important;
    text-stroke: 1px rgba(255, 255, 255, 0) !important;
    margin: 0;
    transition: all 0.5s ease;
  }


  .back_grid {
    width: 180px;
    height: 100vh;
    background: #191919;
    background: linear-gradient(72deg, rgb(25, 25, 25) 0%, rgba(22, 27, 21, 0.459) 100%);
    border-top-right-radius: 10px;
    padding: 10px 10px;
  }


  .mobile_work img {
    margin-top: 30px;
  }



}

.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0px;
}

.main_title p {
  text-align: center;
  position: relative;
  font-size: 18px;
  font-family: "Lora", serif !important;
  text-shadow: 0 0 12px #189C6B, 0 0 20px #189C6B, 0 0 40px #189C6B;

}


/* .main_title p::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #189C6B;
  left: -50px;
  top: 12px;
  
} */

.main_title h6 {
  padding: 0px !important;
  margin-top: 20px !important;
  font-size: 38px;
  color: white;
  font-family: "Roboto", sans-serif !important;
}

.main_title span {
  background: linear-gradient(180deg, rgba(24, 156, 107, 1) 0%, rgb(4, 97, 66) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}