<div id="smooth-wrapper">
    <div id="smooth-content">
        <!-- hero section start-->
        <div class="hero_back">
            <div class="container">
                <div class="row hero_nav">
                    <div class="col-md-3">
                        <img src="assets/images/logo.svg" class="img-fluid">
                    </div>
                    <div class="col-lg-5">
                        <div class="mail">
                            <p>abilashravi&#64;gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="nav_item">
                            <p>About</p>
                            <p>Portfolio</p>
                            <p>Contact</p>
                        </div>
                    </div>
                </div>
                <div class="postion">
                    <h6>UI/UX DESIGNER</h6>
                </div>
                <div class="row hero_next">
                    <div class="col-lg-4">
                        <div class="hero_name">
                            <h6>Abilash Ravi</h6>
                            <p>Ui UX designer based out of Chennai with 3 years of experience, currently working in
                                junior UI UX Designer in JRK Consultancy</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">

                            <div class="pro_butn">
                                <p>Hire Me</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/images/robo.png" class="img-fluid">
                    </div>

                    <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-center">
                            <!-- <h1 >GSAP Starter Template</h1> -->
                            <div class="hero_smtit">
                                <p>A Creative</p>
                                <h6 id="heading">DEVELOPER</h6>
                                <h5>DESIGNER</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- hero section end-->
    </div>
</div>