p {
  margin: 0px;
  padding: 0px;
}

/* home.component.css */
.containers {
  max-width: 100vw;
  width: 100%;
  padding: 20px; 
  margin: 0 auto;
  /* height: 100vh; */
  overflow: hidden;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.containers.hidden {
  display: none !important;
}


.slider-container {
  position: relative;
  margin: 40px auto;
  border-radius: 12px;
  overflow: hidden;
  max-width: 100vw;
  height: 100px;
}

.mdw-curved-slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.mdw-curved-slider canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.titles p {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 250px;
  font-size: 36px;
  font-weight: 600;

}

.logo {
  position: absolute;
  left: 45%;
  right: 0;
  top: 200px;
}

.slider-control {
  width: 100%;
  margin: 8px 0;
}


.image-counter {
  text-align: center;
  margin-top: 15px;
  font-size: 1.1rem;
  color: white;
}


@media (max-width: 368px) {

  .slider-container {
    height: 300px;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }

  .control-group {
    width: 100%;
    max-width: 300px;
  }
}

.about-title {
  font-size: 8rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgb(202, 228, 219);
  text-stroke: 1px rgb(255, 255, 255);
  margin: 0;
  transition: all 0.5s ease;
}

.about_me {
  margin-top: 60px;
  text-align: justify;
}

/* html {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#starContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#star {
  display: flex;
  background: transparent;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 48.45%;
  justify-content: center;
  animation: starRotation 6.5s linear infinite;
  z-index: 999;
}

.half {
  display: flex;
}

.starQuarter {
  width: 20px;
  height: 20px;
  animation: animStarSize 6.5s ease-in-out infinite;
}

#topLeft {
  background: radial-gradient(ellipse at top left, transparent 70%, rgb(180, 254, 255) 100%);
}

#topRight {
  background: radial-gradient(ellipse at top right, transparent 70%, rgb(157, 226, 255) 100%);
}

#bottomLeft {
  background: radial-gradient(ellipse at bottom left, transparent 70%, rgb(173, 254, 253) 100%);
}

#bottomRight {
  background: radial-gradient(ellipse at bottom right, transparent 70%, rgb(174, 241, 254) 100%);
}




@media screen and (min-width:380px) and (max-width:768px) {

  .postion h6{
    padding-top: 0px !important;
  }
  .mail {
    display: none;
  }

  .nav_item {
    flex-direction: column;
    align-items: end;
  }

  .nav_item p {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .hero_nav {
    display: flex;
    align-items: start;
    justify-content: start
  }

  .postion #hero_heading {
    font-size: 30px;
    position: absolute;
    top: -70px;
    left: 0;
  }

  .postion {
    position: relative;
  }

  .hero_name {
    margin-top: 20px;
  }

  .hero_smtit {
    margin-top: 20px;
  }

  .about_section h2 {
    font-size: 60px !important;
    margin-top: 70px;
  }

  .starimage {
    top: 0px !important;
  }

  .sword-area img {
    width: 30%;
  }

  .about_me {
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
    text-align: justify !important;
  }

  .what_i .postion h6 {
    font-size: 75px;
  }


  .career h2 {
    font-size: 60px;
  }

  .career {
    margin-top: 100px;
    overflow: visible;
  }

  .career .starimage {
    display: none;
  }


  .bach_name h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #f8f5f5;
    font-family: "Roboto", sans-serif;
  }

  .bach_name p {
    color: #0ABB9C;
    font-size: 16px;
  }

  .my_careeor::before {
    content: "";
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    width: 2px;
    height: var(--line-height);
    background: linear-gradient(to bottom, #4772ff, #00ddff);
    border-radius: 4px;
    box-shadow: 0 0 10px #4772ff, 0 0 25px #00ffff;

  }


  .my_careeor::after {
    content: "";
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #e2e2e20c, #e1e1e10c);
    border-radius: 4px;
  }

  .year {
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    padding-left: 50px !important;
    padding-top: 10px;
  }

  .myes {
    flex-direction: column;
    padding-left: 40px;
  }

  .ex_detailss {
    text-align: justify;
    margin-top: 20px;
  }

  #star {
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0%;
    justify-content: center;
    animation: starRotation 6.5s linear infinite;
    z-index: 999;
  }

  .bach_name p{
    white-space: nowrap;
  }

  #Portfolio .about-title{
    font-size: 60px;
  }

.occasion {
  border-right: 1px solid #8294942d;
  height: 100vh;
  width: 450px !important;
  padding: 40px;
}

.info_get{
  padding: 20px !important;
}
.right_con_tit h6{
  margin-top: 40px !important;
}

}



.tools {
  width: 60px;
}


.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 90px;
}

.custom-card {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 70vh;
  /* background: -webkit-linear-gradient(
    130deg,
    #d754ad 0%,
    #f96785 67%,
    #fe7333 100%
  );
  background: linear-gradient(-40deg, #d754ad 0%, #f96785 67%, #fe7333 100%); */
  color: #fff;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); */
}

.card1 {}

.card2 {
  top: 30px;
}

.card3 {
  top: 60px;
}

.card4 {
  top: 90px;
}

.opacity {
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  opacity: 0.6;
}

.scale {
  moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  width: 95%;
}

.horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}

.horizontal .coles {
  flex: 1 0 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.occasion img {
  width: 600px;
}

.horizontal-scoll-wrapper {
  border: 1px solid #8294942d;
  height: 550px;
}

.occasion {
  border-right: 1px solid #8294942d;
  height: 100vh;
  width: 500px;
  padding: 40px;
}

.webnum {
  font-size: 60px;
  font-weight: 800;
  font-family: "Lora", serif !important;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.we {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex-direction: column;
}

.webname {
  color: #FFF5F8;
}

.wende {
  color: #fff5f860;
}

.detaof {
  font-size: 18px;
  margin-top: 20px;
}

.tools_listes p {
  margin-top: 2px;
  color: #fff5f860 !important;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.sample_img {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}

.sample_img img {
  width: 100%;
  height: 100%;
}

.arr {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.sample_img:hover .arr {
  visibility: visible;
  opacity: 1;

  cursor: pointer;
}

/* .arr img{
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
} */




.info_get {
  padding: 40px;
  background-color: #18383233;
  border-radius: 10px;
}

.info_tit h6 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}

.info_sub p {
  font-size: 14px;
  color: #d3d3d3;
  line-height: 30px;
}

.info_get input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #213531;
  margin: 20px 0px;
  outline: none;
  background-color: transparent;
  color: white;
}



::placeholder {
  color: #A5A5A5;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #213531;
  margin: 20px 0px;
  height: 100px;
  background-color: transparent;
  color: white;
  outline: none;
}

.right_con_tit h6 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.right_con_sub p {
  font-size: 14px;
  color: #f5f5f5;
  line-height: 30px;
}

.con {
  box-shadow: rgba(100, 100, 111, 0.075) 0px 7px 29px 0px;
  padding: 12px 15px;
  border-radius: 12px;
  margin: 20px 0px;
  background-color: #011B16;
}

.get {
  margin: 100px 0px;
}

.fe h6 {
  color: white;
  margin-top: 5px;
}

.fe {
  padding-left: 20px;
}

.web_button p {
  border: 1px solid #213531;
  border-radius: 20px;
  cursor: pointer;
}

.web_button :hover {
  background-color: #295a50;
  border: 1px solid #295a50;
}

.web_button:hover p {
  color: white;
}

.icones img {
  padding-left: 20px;
  cursor: pointer;
}

.top_left {
  position: fixed;
  left: -350px;
  top: -350px;
  z-index: 9999;
}

.top_right {
  position: fixed;
  right: -450px;
  top: 150px;
  z-index: 9999;
}

.resent {
  margin: 50px 0px;
}

.social_icons {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  left: 20px;
  bottom: 5%;
  z-index: 99;
}

.resume {
  position: fixed;
  right: 50px;
  bottom: 5%;
  z-index: 9999;
   display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resume img{
  padding-left: 10px;
}

.career{
margin: 50px 0px;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide img {
  /* aspect-ratio: 16/9; */
  /* width: 100%; */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
  margin: 0 auto;
}

.out_card{
  width: 100%;
  /* border: 1px solid #131313; */
  display: flex;
  align-items: center;
}

.card_imge{
  border: 1px solid #3e4b4b52;
  
  padding: 44px;
  cursor: pointer;
}
.card_imge img{
  opacity: 0.5;
scale: 2;
}

.card_imge:hover img{
  opacity: 1;
}
.card_imge:hover{
    /* box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(0, 255, 179),
    inset -20px 0 80px #0ff,
    inset 20px 0 300px rgb(0, 255, 179),
    inset -20px 0 300px #0ff,
    0 0 0px #fff,-0px 0 0px rgb(0, 255, 179),
    0px 0 0px #0ff; */

background: #189C6B;
background: radial-gradient(circle, rgba(24, 156, 108, 0.308) 0%, rgba(5, 62, 43, 0) 100%);
}

.secound_cardwhat{
margin: 0px 10px;
  border: 1px solid #3e4b4b52;
  height: 220px;
  padding: 20px;
    border-radius: 10px;
}

.secound_cardwhat h6{
  font-size: 24px;
  font-weight: 600;
  color: white !important;
}

.secound_cardwhat p{
font-size: 12px;
}

/* .out_card{
  margin: 0px 20px;
} */