<header class="hero_back">
  <div class="container">
    <nav class="row hero_nav" aria-label="Main navigation">
      <div class="col-md-3 col-4">
        <img src="assets/images/logo.svg" class="img-fluid" alt="Abilash logo" />
      </div>
      <div class="col-lg-5 d-none d-lg-block"></div>
      <div class="col-lg-4 col-8">
        <div class="nav_item">
          <a href="#about_section"><p>About</p></a>
          <a href="#Portfolio"><p>Portfolio</p></a>
          <a href="#contact"><p>Contact</p></a>
        </div>
      </div>
    </nav>

    <div class="gradients" aria-hidden="true"></div>

    <div class="postion">
      <h6 id="hero_heading">UI/UX DESIGNER</h6>
    </div>

    <div class="row hero_next">
      <div class="col-lg-4 order-1">
        <div class="hero_details">
          <div class="hero_name">
            <h6>Abilash Ravi</h6>
            <p>
              UI/UX Designer and Frontend Developer with 3 years of experience,
              currently working as a UI/UX Designer at JRK Consultancy, Chennai.
            </p>
          </div>
          <div class="d-flex align-items-center justify-content-start">
            <div class="pro_butn">
              <a href="https://www.linkedin.com/in/abilash-r/" target="_blank" rel="noopener">
                <p>Hire Me</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 order-3 order-lg-2">
        <img src="assets/images/robo.png" class="img-fluid robo" alt="3D robot illustration" />
      </div>

      <div class="col-lg-4 order-2 order-lg-3 d-none d-lg-block">
        <div class="d-flex align-items-center justify-content-center">
          <div class="hero_smtit">
            <p>A Creative</p>
            <h6 id="heading">DEVELOPER</h6>
            <h5>DESIGNER</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
